#cuestions{
    display: flex;
    justify-content: center;
}

#cuestions h2{
    font-size: 40px;
}
.faq {
    border-bottom: 1px solid #38B6FF;
    font-weight: lighter;
    padding-bottom: 10px;
}

.faq-question {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding: 15px 0;
    outline: none;
    transition: color 1s ease;
}

.faq-section{
    background-color: #133B7E;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .1s ease-in-out;
}

.faq-answer p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #BECED9;
    font-size: 1rem;
}

.faq.open .faq-answer {
    max-height: 100px;
}

@media (min-width: 100px) and (max-width: 499px) {
    /* #cuestions{
        text-align: center;
    } */
     .title{
        text-align: center;
     }
    .contactBox{
        width: 200%;
        padding: 0;
    }
    .rrss{
        margin-top: 1rem;
        flex-direction: column;
    }
    .rrss2{
        margin-top: 10px;
    }
    .titleFaq{
        font-size: 26px !important;
    }
    .faq-question{
        font-size: 18px;
    }
    .m-5{
        margin: 2rem 0 0  0 !important;
    }
}