.h2{
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.title2{
    background-color: #002366;
    border-radius: 20px;
}

.title2 span{
    color: #d3d0d0;
}

.text{
    font-size: 14px;
    color: white;
}

.hr{
    border-top: 2px solid; /* Cambia el grosor a 5px */
    color: white;
}