section{
    color: white;
}

#section-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
}

.img2, .img3, .img4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 650px;
    image-rendering: auto; 

}

.img2{
    background-image: url('/images/warriors.png');
}

.img3{
    background-image: url('/images/tour.jpg');
}

.img4{
    background-image: url('/images/Porzingis.jpg');
}

.caja2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.caja2 div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja2 div h2{
    font-size: 30px;
}
.caja2 div p{
    font-weight: lighter;
    text-align: center;
    line-height: 1.7em;
    font-size: 17px;
    margin-top: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

/* Para pantallas más pequeñas, como móviles */
@media (min-width: 100px) and (max-width: 1200px) {
    .caja1{
        width: 100% !important;
        text-align: center;
        flex-direction: column-reverse;
        padding: 0% !important;
        margin: 0% !important; 
    }  
    .caja1 > div{
        margin: 0 !important;
    }
    .caja1 h2{
        font-size: 37px !important;
        margin-bottom: 1rem;
    }
    .img-armando-1{
        padding: 1rem  0% !important;
    }
    .caja1 div:nth-child(1){
        padding: 2rem !important;
    }
    .caja2 {
        padding: 0% !important;
        text-align: center;
        grid-template-columns: 1fr;
        /* Una sola columna */
    }
    .caja2 h2{
        font-size: 35px !important;
    }
}

.bgBlanco{
    background-color: rgba(255, 255, 255, 0.203);
}